.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons li {
    margin: 0 10px; /* Adjust the spacing between icons if needed */
}